/* @font-face {
  font-family: "myHeadingFont";
  src: url("font/MomoSignature-Regular.ttf");
  font-weight: normal; 
  font-style: normal;
}

h1 {
  font-family: "myHeadingFont";
}

p {
  word-spacing: 10px;
  letter-spacing: 40px;
}

#svg > img {
  height: 100px;
} */

/* p {
  text-indent: 200px;
} */

/* @font-face {
  font-family: "myHeadingFont";
  src: url("font/MomoSignature-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

#centerDiv {
  text-align: center;
}

#heading {
  background: linear-gradient(
    to right,
    #73c8a9,
    #373b44
  ); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 40px;
  font-weight: bold;
  font-family: "myHeadingFont";
  text-shadow: 5px 5px #558abb;
}

p {
  text-shadow: 5px 10px 5px yellow;
} */

/* #heading {
  background: linear-gradient(
    to right,
    #00bf8f,
    #001510
  );
  background-clip: text;
  color: transparent;
} */

#heading::first-letter {
  color: blue;
  font-size: 200px;
  text-transform: capitalize;
  text-shadow: 10px 5px 10px grey;
  /* font-family: "Josefin Sans", sans-serif;

  font-weight: 900;
  font-style: normal; */
}

/* #para::first-line {
  text-decoration: underline dotted rgb(238, 0, 255);
  text-transform: capitalize;
} */

/* a:link {
  color: blue;
  text-decoration: none;
  font-size: 50px;
} */

/* li > a:link {
  color: deeppink;
  text-decoration: none;
} */

a:hover {
  color: red;
}

input:active {
  color: chartreuse;
}
